@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#toggle:checked ~ label span.toggle-dot {
    @apply translate-x-5;
}

#toggle:focus ~ label span.toggle-dot {
    @apply ring ring-slate-500;
}

.icon-dark > path {
    fill: #16161d;
}

.icon-light > path {
    fill: #f9f9f9;
}
